ZABBIX_API_URL=http://10.200.1.52/zabbix/api_jsonrpc.php
ZABBIX_API_TOKEN=
ZABBIX_USER=
ZABBIX_PASSWORD=
ZABBIX_DEMO_HOST_NAME=BLACKBOX-DEMO
ZABBIX_DEMO_HOST_ID=
NEXT_PUBLIC_DEMO_MODE=true
INITIAL_DSI_PASSWORD=
AUTH_SECRET=
